.testimony {
  width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
}

/* .testimony h2 {
  text-align: center;
} */

.testimony table {
  width: 800px;
  margin: auto;
}
.testimony img {
  border-radius: 50%;
  height: 60px;
  width : 60px;
}

.testimony p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.testimony tr {
  margin-left: 20px;
  margin-right:20px;
}